<div class="toggle-container">
    <a href="/admin/man/student" class="toggle-item <%= active === 'student' ? 'active' : '' %>">
        นักเรียน
    </a>
    <a href="/admin/man/teacher" class="toggle-item <%= active === 'teacher' ? 'active' : '' %>">
        อาจารย์
    </a>
</div>