<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/temp.css">
    <style>
        
    </style>
</head>
<body>

    <div class="app-container">
        
        <%- include('partials/mtbar') %>

        <div class="bottom-wrapper">
            
            <div class="sidebar-wrapper">
                <%- include('partials/mlbar') %>
            </div>

            <main class="main-content">
                <!-- ใส่ข้อมูล -->
            </main>

        </div>
    </div>

</body>
</html>