<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userInfo</title>
    <style>
        .info {
            display: grid;
            grid-template-columns: 45% 45%;
            gap: 1%;
            margin: 5%;
        }
        table {
            width:60%;
            text-align: left;
            margin:auto;
        }
    </style>
</head>

<body>
    <div class="info">
        <div>
        </div>
        <div>
            <table>
                <tr>
                    <th>ชื่อ - นามสกุล</th>
                    <th>เพศ</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>วัน / เดือน / ปี เกิด</th>
                    <th>อายุ</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>อีเมล</th>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <th>เบอร์โทร</th>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>